/*==============================*\
|| Shared Global SASS Variables ||
\*==============================*/

$primary-color: #009688;
$success: #309b40;
$error: #db291d;
$pending: #FF9800;
$neutral: #797979;

$bg: #151922;
$bg-light: #3c424c;
$bg-lighter: #525964;

$color-primary: #E91E63;
$color-secondary: #f9b701;
$color-ternary: #309b40;
$color-quaternary: #db291d;
$color-quinternary: #4c5c6c;
$color-sexternary: #7fe43b;

$color-white: #ffffff;
$color-gray: #f2f2f2;
$color-orange: #e96e20;
$color-green: #80CBC4;

$font-stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

/*===================*\
||   Media Queries   ||
\*===================*/

$break-mobile: 450px;
$break-tablet: 800px;

$break-landscape-mobile: 800px;
$break-landscape-tablet: 1048px;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (orientation: portrait) and (max-width: $break-mobile) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-mobile) {
            @content;
        }
    } @else if $media == not-mobile {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) {
            @content;
        }
    } @else if $media == tablet {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if ($media == tablet-mobile or $media == not-desktop) {
        @media only screen and (orientation: portrait) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet) {
            @content;
        }
    }
}
