// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   24/09/2016 1:46 PM
// @Email:  alex@yuion.net
// @Filename: app.style.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 30/01/2017 1:39 PM

@import 'shared.styles';

/*=======================*\
||    Global styles     ||
\*=======================*/

* {
    user-select: none;
    font-family: $font-stack;
}

textarea,
input {
    user-select: text;
}

/*=======================*\
||    System styles     ||
\*=======================*/

/* Font Styles */

.font {
    &-small, &.small   { font-size: 0.8rem; }
    &-normal, &.normal { font-size: 1.0rem; }
    &-big, &.big       { font-size: 1.2rem; }
    &-large, &.large   { font-size: 1.4rem; }
}

/*=======================*\
||    Utility styles     ||
\*=======================*/

.disabled,
[disabled] {
    pointer-events: none;
}

.overflow{
    overflow: auto;
}

.fixed {
    position: fixed;
}

.fit {
    max-height: 99%;
    max-width: 99%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.noselect { user-select: none; }
.no-padding { padding: 0; }
.align-center{ text-align: center; }

@include respond-to(not-mobile) {
    .mobile-only,
    .mobile {
        display: none !important;
    }
}

@include respond-to(not-tablet) {
    .tablet-only,
    .tablet {
        display: none !important;
    }
}

@include respond-to(not-desktop) {
    .desktop-only,
    .desktop {
        display: none !important;
    }
}

@include respond-to(desktop) {
    .not-desktop {
        display: none !important;
    }

    html,
    body {
        font-size: 2.0vmin;
    }
}

@include respond-to(tablet) {
    .not-tablet {
        display: none !important;
    }
    html,
    body {
        font-size: 2.5vmin;
    }
}

@include respond-to(mobile) {
    .not-mobile {
        display: none !important;
    }
    html,
    body {
        font-size: 4vmin;
    }
}
/*=======================*\
||  Input/Button styles  ||
\*=======================*/



.btn[widget] {
    button {
        margin: .25em .5em;
        font-size: .9em;
        background-color: $color-primary;
        border-color: $color-primary;
        color: #fff;
        border-radius: 4px;
        &.mini-action {
            margin: .25em;
        }
        &:hover {
            background-color: darken($color-primary, 10);
            color: #fff;
        }
        &[disabled] {
            pointer-events: none;
            box-shadow: none !important;
            border-color: #ccc !important;
            background-color: #f0f0f0 !important;
            color: #ccc !important;
        }
    }

    &.simple {
        button {
            background-color: #fff;
            border-color: #fff;
            color: rgba(#000, .87);
            height: 2em;
            border-radius: 1.05em;
            &.raised {
                padding: 0 1em;
            }
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    &.error {
        button {
            background-color: $error;
            border-color: $error;
            color: #fff;
            &:hover {
                background-color: darken($error, 10);
                border-color: $error;
                color: #fff;
            }
        }

        &.inverse {
            button {
                background-color: #fff;
                color: $error;
                border-color: $error;
                &:hover {
                    background-color: darken(#fff, 10);
                    color: $error;
                }
            }
        }
    }

    &.success {
        button {
            background-color: $success;
            border-color: $success;
            color: #fff;
            &:hover {
                background-color: darken($success, 10);
                border-color: $success;
                color: #fff;
            }
        }

        &.inverse {
            button {
                background-color: #fff;
                color: $success;
                border-color: $success;
                &:hover {
                    background-color: darken(#fff, 10);
                    color: $success;
                }
            }
        }
    }

    &.inverse {
        button {
            background-color: #fff;
            color: $color-primary;
            border-color: $color-primary;
            &:hover {
                background-color: darken(#fff, 10);
                color: $color-primary;
            }
        }
    }
}

/*=======================*\
||  Application styles   ||
\*=======================*/

.display-icon {
    flex-grow: 0 !important;
    height: 1.0em;
    width: 1.0em;
    margin: .2em .2em .2em .1em;
    font-size: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &.info {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMSAxN2gydi02aC0ydjZ6bTEtMTVDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bTAgMThjLTQuNDEgMC04LTMuNTktOC04czMuNTktOCA4LTggOCAzLjU5IDggOC0zLjU5IDgtOCA4ek0xMSA5aDJWN2gtMnYyeiIvPgo8L3N2Zz4=);
    }
    &.error {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xMiAyQzYuNDggMiAyIDYuNDggMiAxMnM0LjQ4IDEwIDEwIDEwIDEwLTQuNDggMTAtMTBTMTcuNTIgMiAxMiAyem0xIDE1aC0ydi0yaDJ2MnptMC00aC0yVjdoMnY2eiIvPgo8L3N2Zz4=);
    }
    &.success {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik05IDE2LjJMNC44IDEybC0xLjQgMS40TDkgMTkgMjEgN2wtMS40LTEuNEw5IDE2LjJ6Ii8+Cjwvc3ZnPg==);
    }
    &.success-tick {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNENBRjUwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik05IDE2LjJMNC44IDEybC0xLjQgMS40TDkgMTkgMjEgN2wtMS40LTEuNEw5IDE2LjJ6Ii8+Cjwvc3ZnPgo=);
    }
    &.error-cross {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRjQ0MzM2IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=);
    }
    &.close-cross {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
    }
    &.edit {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0zIDE3LjI1VjIxaDMuNzVMMTcuODEgOS45NGwtMy43NS0zLjc1TDMgMTcuMjV6TTIwLjcxIDcuMDRjLjM5LS4zOS4zOS0xLjAyIDAtMS40MWwtMi4zNC0yLjM0Yy0uMzktLjM5LTEuMDItLjM5LTEuNDEgMGwtMS44MyAxLjgzIDMuNzUgMy43NSAxLjgzLTEuODN6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
    }
}

.notification[widget] {
    .msg {
        font-size: .8em;
    }
}

.notifications[widget] {
    .details > div {
        display: flex;
        align-items: center;
        font-size: .8em;
    }
}

div.dropdown[widget] {
    max-width: 100%;
    font-size: 1.2em;
    min-width: 16em;
    &.level {
        min-width: 10em;
    }
    // box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .1);
    border-color: #ccc;
    .item.active .icon {
        color: rgba(0,0,0,0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 0;
        height: 1em;
        width: 1.5em;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDE1LjQxTDEyIDEwLjgzbDQuNTkgNC41OEwxOCAxNGwtNi02LTYgNnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+);
    }
    &.show {
        box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, 0);
    }
    &.list-tooltip {
        box-shadow: none;
        .item.active .icon {
            color: rgba(0,0,0,0);
            background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDcuODRMMTIgMTIuNDJsNC41OS00LjU4TDE4IDkuMjVsLTYgNi02LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNzVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+);
        }
    }
}
